# Template for kubeconfig. Set KUBECONFIG_SERVER and KUBECONFIG_TOKEN in .env,
# then run: make kubeconfig
# Or copy your full kubeconfig to autollm/kubeconfig directly.
apiVersion: v1
kind: Config
clusters:
  - cluster:
      server: __KUBECONFIG_SERVER__
    name: new-cluster
contexts:
  - context:
      cluster: new-cluster
      namespace: default
      user: cwtoken
    name: new-cluster
current-context: new-cluster
users:
  - name: cwtoken
    user:
      token: __KUBECONFIG_TOKEN__
